# Bloque de configuracion del servidor HTTP
PORT=3000
CLIENT_ORIGIN=http://127.0.0.1:5500
NODE_ENV=development
FORCE_HTTPS=false

# Bloque de configuracion de base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=tienda_redes

# Bloque de autenticacion JWT (separacion de secretos por tipo de token)
JWT_ACCESS_SECRET=tu_access_secret_super_seguro
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=tu_refresh_secret_super_seguro
JWT_REFRESH_EXPIRES_IN=7d

# Bloque de cookies de sesion
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
